*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

:root {
  --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.sidebarIcon {
  height: 48px;
  width: 48px;
}

.sidebarLogo {
  width: 32px;
  height: 32px;
}

.magnify {
  width: 26px;
  height: 26px;
}

.profileicon {
  width: 26px;
  height: 26px;
}

.profileavatar {
  width: 48px;
  height: 48px;
}

.useravatar {
  width: 58px;
  height: 58px;
}

.projecticon {
  width: 26px;
  height: 26px;
}
body {
  display: grid;
}
